<nav class="navbar">
 <div class="wrapper">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
   <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/"><span class="glyphicon glyphicon-home btn" aria-hidden="true"></a>
      {{#if user.admin}}
    <a class="navbar-item" href="/admin"><span class="glyphicon glyphicon-eye-close btn" aria-hidden="true"></a>
    <font color="white">|</font>
    {{/if}}
    {{#if user}}
    <a class="navbar-item" href="/auth/logout"><span class="glyphicon glyphicon glyphicon-log-out btn" aria-hidden="true"></a>
    {{else}}
    <a class="navbar-item" href="/auth/login"><span class="glyphicon glyphicon glyphicon-log-in btn" aria-hidden="true"></a>
    {{/if}}
  </div>
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame" style="border: 0px solid gray; background-color:{{account.themecolor}}; border-radius: 2px">

<h1>Edit User: "{{newuser.username}}"</h1>

<form id="name" action="/update/displayName/{{newuser.id}}" method="post">
  <h3>Update Your Display Name</h3>
   <input type="text" name="displayName" id="displayName" value="{{newuser.name}}" class="input-gif">
   <br><br>
   <button type="submit" id="displayNameButton" class="btn">Update Name</button>
   <br><br>
   <hr>
   <br><br>
   </form>
   
   <form id="name" action="/update/username/{{newuser.id}}" method="post">
   <h3>Update Your Username</h3>
   <input type="text" name="displayName" id="displayName" onkeypress="return alpha(event)" value="{{newuser.username}}" class="input-gif">
   <br><br>
   <button type="submit" id="displayNameButton" class="btn">Update Username</button>
   <br><br>
   <hr>
   <br><br>
   </form>
   
   <form id="name" action="/update/colour/{{newuser.id}}" method="post">
   <h3>Update Your Profile Theme Colour</h3>
    <script src="/javascripts/jscolor.js"></script>

  <input type="text" name="colour" class="jscolor input-gif" value="{{newuser.themecolor}}">
   <br><br>
   <button type="submit" id="displayColourButton" class="btn">Update Colour</button>
   <br><br>
   <hr>
   <br><br>
   </form>
   
  </div>
  <div class="frame">
   <div class="bit-2">
    <h3>Update Your Profile Picture (Square Images Work Best)</h3>
    <br>
    <form id="submitpic" action="/updatepp/{{newuser.id}}" method="post">
     
        
   <input type="file" onchange="upload(this.files[0])">

<script>
    /* Drag'n drop stuff */
    function upload(file) {
        /* Is the file an image? */
        if (!file || !file.type.match(/image.*/)) return;
        /* It is! */
        document.body.className = "uploading";
        /* Lets build a FormData object*/
        var fd = new FormData(); // I wrote about it: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
        fd.append("image", file); // Append the file
        var xhr = new XMLHttpRequest(); // Create the XHR (Cross-Domain XHR FTW!!!) Thank you sooooo much imgur.com
        xhr.open("POST", "https://api.imgur.com/3/image.json"); // Boooom!
        xhr.onload = function() {
            // Big win!
            document.querySelector("#link").href = JSON.parse(xhr.responseText).data.link;
            document.querySelector("#url").value = JSON.parse(xhr.responseText).data.link;
            var linkval=JSON.parse(xhr.responseText).data.link;
            document.body.className = "uploaded";
        }
        
        xhr.setRequestHeader('Authorization', 'Client-ID 9fa1779f17f318a'); // Get your own key http://api.imgur.com/
        
        // Ok, I don't handle the errors. An exercise for the reader.
        /* And now, we send the formdata */
        xhr.send(fd);
    }
</script>

    <style>
    #url {display: none}
    #link {display: none}
    .uploaded #link {display: inline}
    #update {display: none}
    .uploaded #update {display: inline}
</style>
<br><br>
<p id="link">Image Uploaded Succesfully!</p>
     
     <input id="url" name="url">
     <br><br>
     <button id="update" name="update" class="btn" type="submit">Update Profile Picture</button>
    </form>
   </div>
   </div>
    <hr><br><br>
   <form id="name" action="/update/bio/{{newuser.id}}" method="post">
    <h3>Update Your Profile Bio</h3>
   <textarea type="text" name="bio" placeholder="Place Bio Here" onkeyup="textCounter(this,'counter',100);" class="input-gif"></textarea>
   <span id="counter">100</span>
   <br><br>
   <button type="submit" id="displayColourButton" class="btn">Update Bio</button>
   <br><br>
   <hr>
   <br><br>
   </form>
    
</div>
</div>