<nav class="navbar">
 <div class="wrapper">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
   <a class="navbar-item" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left btn" aria-hidden="true"></a>
   <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/"><span class="glyphicon glyphicon-home btn" aria-hidden="true"></a>
    {{#if user}}
    <a class="navbar-item" href="/auth/logout">Log Out</a>
    {{else}}
    <a class="navbar-item" href="/auth/login">Login</a>
    {{/if}}
  </div>
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame">
 <div class="bit-75">
  <h1>Viewing cookies with tag: #{{groupname}}<font color="red"></font></h1>
 </div>
</div>

 <div class="bit-2">
  
  {{#each result}}
   
   <div class="cookie posts" style="border:1px solid gray; border-radius:2px; max-width:100%">
    
    <div class="frame">
     
     <div class="bit-a">
      
      
         <!-- title -->
      <!-- <a style="text-decoration: none;" href="/cookie/{{id}}"><h2><font color="{{color}}">{{title}}</font></h2></a> !-->
       
 <div class="bit-50">
  <p><img src="{{avatarurl}}" width=60px height=60px style="border: 1px solid black"></p>
  </div>
  <div class="bit-60">
  <p><b>{{{names}}}</b><br> {{#ifneq author "ShareCookieAds"}}<a href="/user/{{author}}" class="a"><font color=#6666ff>@{{author}}</font></a>{{/ifneq}}</p>
  {{#ifneq author "ShareCookieAds"}}<p>{{formatDate created  day="numeric" month="long" year="numeric"}}</p>{{/ifneq}}
  {{#if group}}
  <!--<p><b>Posted to Group:</b> <a href="/group/{{group}}" style="text-decoration:none">{{group}}</a></p>!-->
  {{/if}}
           
  </div>
  
     </div>
     <div class="actions bit-a">
                       <div class="content">
        <font color="{{color}}" size=5>
        {{{content}}}
        </font>
       
       </div>
       <br>
       {{#if link}}
       <a style="text-decoration:none;" href="{{link}}">External Site</a><br><br>
       {{/if}}
     {{#if myurl}}
     
     <a href="/cookie/{{id}}"><img src="{{myurl}}" style="border:1px solid black; max-width:100%; max-height:100%;"></a>
     <br><br>
     {{/if}}
       
       {{#if ../user}}
       {{#ifneq author "ShareCookieAds"}}
        <!-- like/dislike -->
        <a href="/likepost/{{author}}/{{id}}/group/{{groupname}}" class="btn btn-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <a href="/dislikepost/{{author}}/{{id}}/group/{{groupname}}" class="btn btn-dislike"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a> 
        {{#ifneq author ../../../user.username}}<a data-toggle="tooltip" title="Rebake" href="/rebake/{{author}}/{{id}}/group/{{../../../groupname}}" class="btn btn-dislike"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></a>{{/ifneq}}
        <br> <br> <p id="{{id}}">{{likes}} likes | {{dislikes}} dislikes | {{rebakes}} rebakes
        
        <!-- comments -->
        <a href="/cookie/{{id}}"><font color=#6666ff>Comments ({{commentamount}})</font></a></p>
        {{/ifneq}}
       {{/if}}
        {{#or ../user.username author ../user.admin true}}
        <br>
        <a href="/editcookie/{{author}}/{{id}}" style="text-decoration:none;"><font color=#0066ff>[Edit]</font></a>
        <a href="/deletecookie/{{author}}/{{id}}" style="text-decoration:none;"><font color=#ff0000>[Delete]</font></a>
        {{/or}}
        
        {{#if ../user}}
        {{else}}
        <font color=#000><i>Please Login or Register to Like and Comment!</i></font>
        {{/if}}
        
       </div>
     
    </div>
    
   </div>
   <br>
   {{/each}}
</div>