<nav class="navbar">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/auth/logout">Log Out</a>
    {{else}}
    <a class="navbar-item" href="/auth/login">Login</a>
    {{/if}}
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame">
 <div class="bit-75">
  <h1>Viewing cookies in the group: {{groupname}}<font color="red"></font></h1>
 </div>
</div>

 <div class="bit-2">
  <h2>Cookies:</h2><br><br>
  
  {{#each result}}
   
   <div class="cookie posts" style="border:1px solid gray; border-radius:2px; max-width:100%">
    
    <div class="frame">
     
     <div class="bit-50">
      
         <!-- title -->
      <!-- <a style="text-decoration: none;" href="/cookie/{{id}}"><h2><font color="{{color}}">{{title}}</font></h2></a> !-->
       
       <div class="meta">
        
        <!-- author -->
        <p class="meta-item"><font size=5 color="black"><b>{{names}}</b> </font><a class="a" href="/user/{{author}}"><font size=4 color=#6666ff>@{{author}}</font></p></a>
        <p class="meta-item"><font color=#02313A>Posted on {{formatDate created day="numeric" month="long" year="numeric"}}</font></p>
       </div>
       
       <!-- content -->
       <div class="content">
        <a style="text-decoration:none;" href="/cookie/{{id}}"><font color="{{color}}" size=5>
        {{content}}
        </font>
        </a>
       </div>
       {{#if link}}
       <a style="text-decoration:none;" href="{{link}}">{{link}}</a><br><br>
       {{/if}}
       <!-- actions -->
     {{#if myurl}}
     <img src="{{myurl}}" style="border:1px solid black; max-width:100%; max-height:100%;">
     {{/if}}
           <div class="actions">
       
       {{#if ../user}}
        <!-- like/dislike -->
        <a href="/likepost/{{author}}/{{id}}/group/{{group}}" class="btn btn-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <a href="/dislikepost/{{author}}/{{id}}/group/{{group}}" class="btn btn-dislike"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
       {{/if}}
        {{likes}} likes
        <!-- comments -->
        <a href="/cookie/{{id}}"><font color=#6666ff>Comments ({{commentamount}})</font></a>
       </div>
     </div>
     
    </div>
    
   </div>
   <br>
   {{/each}}
</div>