<nav class="navbar">
  <div class="navbar-right">
    <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/filter/date">Most Recent</a>
    <font color="white">|</font>
    <a class="navbar-item {{#equal filter 'likes'}}selected{{/equal}}" href="/filter/likes">Most Likes</a>
    {{#if user}}
    <font color="white">|</font>
    <a class="navbar-item" href="/user/{{user.username}}">My Profile</a>
    <font color="white">|</font>
    {{#if user.admin}}
    <a class="navbar-item" href="/admin">Admin</a>
    <font color="white">|</font>
    {{/if}}
    <a class="navbar-item" href="/auth/logout">Log Out</a>
    {{/if}}
  </div>
  <a class="navbar-brand" href="/">ShareCookie</a>
</nav>

<div class="wrapper">
 
 <div class="frame body-frame">
  <div class="bit-2">
   
   <div class="form-fixed">
    <!-- forms -->
    {{#if user}}
    <h1>Post to ShareCookie</h1>
    
    <form id="postcookie" action="/sharecookie" method="post">
     <textarea  name="texxtt" id="texxtt" class="textarea fixed" required placeholder="What's going on?"></textarea>
     <input class="input-gif" name="picbox" id="picbox" placeholder="Link to an image (Not required)"><br><br>
     <button class="btn " id="login">Create Post</button> <!--<span id="counter">200</span>!-->
    </form>
    {{else}}
    <h1>Login or Create an account to post!</h1>
    
    <div class="frame">
     
     <div class="bit-2">
      
      <h3>Sign in</h3>
      
      {{#if info}}
      <p><font color="red">{{info}}</font></p>
      {{/if}}
      
      <form action="/auth/login" method="post">
       <input class="input-username" type="text" name="username" id="username" onkeypress="return alpha(event)" maxlength=15 placeholder="username">
       <br>
       <input class="input-password" type="password" name="password" id="password" onkeypress="return pass(event)" placeholder="password">
       <br><br>
       <button class="btn" type="submit">Sign in</button>
       <br><br>
       <a href="/auth/register"><font color=#6600ff>Don't have an account? Sign up now!</font></a>
      </form>
      
     </div>
     
    </div>
    
    {{/if}}
   </div>
   
  </div>
  
  <div class="bit-2">
   <h1>Cookies</h1>
   <!-- cookies -->
   {{#each posts}}
   
   <div class="cookie" style="border:1px solid gray; border-radius:2px">
    
    <div class="frame">
     
     <div class="bit-75">
      
         <!-- title -->
      <!-- <a style="text-decoration: none;" href="/cookie/{{id}}"><h2><font color="{{color}}">{{title}}</font></h2></a> !-->
       
       <div class="meta">
        
        <!-- author -->
        <p class="meta-item"><font color="black">{{names}} </font><a href="/user/{{author}}" class="a acolor"><font>@{{author}}</font></p></a>
        <p class="meta-item">{{formatDate created day="numeric" month="long" year="numeric"}}</p>
       </div>
       
       <!-- content -->
       <div class="content">
        <font color="{{color}}">
        {{content}}
        </font>
       </div>
       <br>
       <!-- actions -->
     
     {{#if myurl}}
     <img src="{{myurl}}" style="border:1px solid lightgray; width:auto; height:200px">
     {{/if}}
           <div class="actions">
       
       {{#if ../user}}
        <!-- like/dislike -->
        <a href="/likepost/{{author}}/{{id}}" class="btn btn-like">Like </a> <a href="/dislikepost/{{author}}/{{id}}" class="btn btn-dislike">Dislike </a>
       {{/if}}
        {{likes}} likes
        <!-- comments -->
        <a href="/cookie/{{id}}"><font color=#6600ff>Comments ({{commentamount}})</font></a>
       </div>
     </div>
     
    </div>
    
   </div>
   <br>
   {{/each}}
   
  </div>
 </div>
</div>
<script>
function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.innerHTML = maxlimit - field.value.length;
 }
}
</script>

<script>
    function alpha(e) {
    var k;
    document.all ? k = e.keyCode : k = e.which;
    return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));
}
    function pass(e) {
    var k;
    document.all ? k = e.keyCode : k = e.which;
    return ((k > 0 && k < 32) || (k > 32 && k < 222));
}
    </script>