<div class="container">

<diV id="div1" class="fixed">
<form id="postcookie" action="/sharecookie" method="post">
<h1 class="fixed"><b><font color="black">Share a cookie with the world!</font></b></h1><br><br><br><br><br>
<input class="fixed textbox" name="titlebox" id="titlebox" required placeholder="Title"><br><br>
<textarea onkeyup="textCounter(this,'counter',200);" name="texxtt" id="texxtt" class="textarea fixed" required placeholder="Enter your message here! (Max 200 characters)"></textarea><br><br><br><br><br><br><br>
<input class="fixed textbox" name="picbox" id="picbox" placeholder="External Site or Image URL (Not required)"><br><br>
<input class="fixed" disabled maxlength="3" size="3" value="200" id="counter">
<br><br><button class="btn1 " id="login">Share Cookie!</button>
</form>
<p class="fixed text-left"><font size=3 color="Black">ShareCookie is Copyright 2016 PaLante Visions</p>
<br><br>
<p class="fixed text-left"><font size=3 color="Red">ShareCookie does NOT moniter posts.</p>
<br>
<p class="fixed text-left"><font size=3 color="Red">We do NOT take responsibility for any hurtful comments spread.</p><br>
<p class="fixed text-left"><font size=3 color="Red">Be nice :)</p><br>
</div>

<div id="div2">
  <svg class="fixed" width="700" height="110">
  <rect width="700" height="100" style="fill:rgb(255,255,255);" />
  <text x="0" y="50" font-family="Arial" font-weight="bold" font-size="28" fill=#000>All Cookies:</text>
</svg>

<br><br><br><br>
{{#each posts}}
<a href="/cookie/{{id}}"><p><font color={{color}} size=6><b>{{title}}</b></font></a><br>
<font size=4 color="gray"><i>by</i></font> <font color="gray" size=4>@{{author}}</font><br>
<font color="lightgray" size=3><b>post id: {{id}}</b></font>
</p>
<p><font color={{color}} size="4">{{content}}</font></p>

<font color="Black"><b>Optional Link:</b></font><a href={{myurl}}> {{myurl}}</a><br><br>
<font color="black"><a href="/likepost/{{id}}" class="btn15">Like </a> <a href="/dislikepost/{{id}}" class="btn15">Dislike </a>  <b><font size=4>{{likes}}</font></b></font><br>
<a href="/cookie/{{id}}"><p><font size=3><b><u>View Comments</u></b></font></a><br>
<font color="black"><b>_______________________________________________________________________</b></font><br><br>
{{/each}}


</div>
  <nav class="navbar navbar-default navbar-fixed-top">
  <a href="/"><font size=6 class="test affix" color="white"><b>ShareCookie</b></font></a><!-- <span class="btn16"><b>Sort By:</b></span> <a class="btn7 " href="/type/2">Most Recent</a><a class="btn7 " href="/type/1">Most Likes</a>!-->
</nav>
</div>

<script>

function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.value = maxlimit - field.value.length;
 }
}

</script>