<nav class="navbar">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/settings">Settings</a>
    <font color="white">|</font>
    <a class="navbar-item" href="/auth/logout">Log Out</a>
    {{else}}
    <a class="navbar-item" href="/auth/login">Login</a>
    {{/if}}
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame" style="border: 1px solid gray; background-color:{{account.themecolor}}; border-radius: 2px">
 <div class="bit-20">
  <img src="{{account.avatarurl}}" width=150 height=150 style="border:1px solid black; border-radius: 2px">
 </div>
  <div class="bit-30" style="background-color: rgba(255, 255, 255, 0.5); border:1px solid black; border-radius: 2px;">
  <p><font size=6>{{account.name}}</font></p>
  <p>@{{account.username}} {{#if account.admin}}<font color=#0000ff>(Admin)</font>{{/if}}</p><br>
  <p><b>Bio: </b>{{account.bio}}</p>
  {{#if user}}
  {{#ifneq account.username user.username}}
   <div class="bit-20">
  <a href="/follow/{{account.username}}" class="btn">Follow</a>
 </div>
 <div class="bit-30"></div>
 </div>
 {{/ifneq}}
 {{/if}}
 <h2><a class="btn" href="/followers/{{account.username}}">Followers</a> <a class="btn" href="/following/{{account.username}}">Following</a></h2>
 </div>
 
  <!--  <div class="bit-20">
  {{#if user.coverphotourl}}
  <img src="{{user.coverphotourl}}", width=250px height=150px style="border: 1px solid black; border-radius: 4px;">
  {{/if}}
 </div> !-->
</div>


 <div class="bit-2">
  <br>
  <h2>Cookies:</h2><br><br>
  
  {{#each posts}}
   
   <div class="cookie posts" style="border:1px solid gray; border-radius:2px; max-width:100%">
    
    <div class="frame">
     
     <div class="bit-50">
      
         <!-- title -->
      <!-- <a style="text-decoration: none;" href="/cookie/{{id}}"><h2><font color="{{color}}">{{title}}</font></h2></a> !-->
       
       <div class="meta">
        
        <!-- author -->
        <p class="meta-item"><font size=5 color="black"><b>{{names}}</b> </font><a class="a" href="/user/{{author}}"><font size=4 color=#6666ff>@{{author}}</font></p></a>
        <p class="meta-item"><font color=#02313A>Posted on {{formatDate created day="numeric" month="long" year="numeric"}} {{#if group}} (to group: <a href="/group/{{group}}">{{group}}</a>){{/if}}</font></p>
       </div>
       
       <!-- content -->
       <div class="content">
        <a style="text-decoration:none;" href="/cookie/{{id}}"><font color="{{color}}" size=5>
        {{content}}
        </font>
        </a>
       </div>
       <!-- actions -->
       {{#if link}}
       <a style="text-decoration:none;" href="{{link}}">{{link}}</a><br><br>
       {{/if}}
     {{#if myurl}}
     <img src="{{myurl}}" style="border:1px solid black; max-width:100%; max-height:100%;">
     {{/if}}
           <div class="actions">
       
       {{#if ../user}}
        <!-- like/dislike -->
        <a href="/likepost/{{author}}/{{id}}/user/null" class="btn btn-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <a href="/dislikepost/{{author}}/{{id}}/user/null" class="btn btn-dislike"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
       {{/if}}
        {{likes}} likes
        <!-- comments -->
        <a href="/cookie/{{id}}"><font color=#6666ff>Comments ({{commentamount}})</font></a>
               <br><br>
        <a href="/editcookie/{{author}}/{{id}}" style="text-decoration:none;"><p class="meta-item"><font color=#0066ff>[Edit]</font></p></a>
        <a href="/deletecookie/{{author}}/{{id}}" style="text-decoration:none;"><p class="meta-item"><font color=#ff0000>[Delete]</font></p></a>
       </div>
     </div>
     
    </div>
    
   </div>
   <br>
   {{/each}}
</div>

 <div class="bit-2">
  <br>
  {{#if user}}
   <h2>Post on this page:</h2><br><br>
   <!-- cookies -->
   
   <div class="form-rel">
    <!-- forms -->
    <form id="sendtouser" action="/sendtouser/{{account.id}}" method="post">
     <textarea onkeyup="textCounter(this,'counter',200);" name="msgbox" id="msgbox" class="textarea fixed" required placeholder="Enter your message to @{{account.username}} here! (Max 100 characters)"></textarea>
     <button class="btn " id="post">Post to @{{account.username}}</button> <span id="counter">100</span>
    </form>
    </div>
    
   {{#each posts1}}
   <br>
   <div class="cookie posts" style="border:1px solid gray; border-radius:2px">
    
    <div class="frame">
     
     <div class="bit-75">
      
         <!-- title -->
       <h2><font color="{{color}}">{{keys}}</font></h2>
       
       <div class="meta">
        
        <!-- author -->
        <p class="meta-item"><a href="/user/{{author}}" class="a"><font color=#6666ff>@{{author}}</font></p></a>
        <p class="meta-item">{{formatDate created day="numeric" month="long" year="numeric"}}</p>
       </div>
       <!-- content -->
       <div class="content">
        <font color="{{color}}">
        {{content}}
        </font>
       </div>
     
    </div>
    
   </div>
   {{/each}}
   
  </div>
  {{else}}
   <h2>Please log in to post on this page!</h2>
   {{/if}}
 </div>

</div>

<script>

function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.innerHTML = maxlimit - field.value.length;
 }
}

</script>