<nav class="navbar">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/settings"><span class="glyphicon glyphicon glyphicon-cog btn" aria-hidden="true"></a>
    <font color="white">|</font>
    <a class="navbar-item" href="/auth/logout"><span class="glyphicon glyphicon glyphicon-log-out btn" aria-hidden="true"></a>
    {{else}}
    <a class="navbar-item" href="/auth/login"><span class="glyphicon glyphicon glyphicon-log-in btn" aria-hidden="true"></a>
    {{/if}}
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame" style="border: 1px solid gray; background-color:{{account.themecolor}}; border-radius: 2px">

 <div class="bit-20">
  <img src="{{account.avatarurl}}" width=150 height=150 style="border:1px solid black; border-radius: 2px">
 </div>
  <div class="bit-30" style="background-color: rgba(255, 255, 255, 0.5); border:1px solid black; border-radius: 2px;">
  <p><font size=6>{{account.name}}</font></p>
  <p>@{{account.username}} {{#if account.admin}}<font color=#0000ff>(Admin)</font>{{/if}}</p><br>
  <p><b>Bio: </b>{{account.bio}}</p>
  {{#if user}}
  {{#ifneq account.username user.username}}
   <div class="bit-20">
  <a href="/follow/{{account.username}}" class="btn">Follow</a>
 </div>
 <div class="bit-30"></div>
 </div>
 {{/ifneq}}
 {{/if}}
 <h2><a class="btn" href="/followers/{{account.username}}">Followers</a> <a class="btn" href="/following/{{account.username}}">Following</a> <a class="btn" href="/poststome/{{account.username}}">Posts on my Page</a></h2>
 </div>
 
  <!--  <div class="bit-20">
  {{#if user.coverphotourl}}
  <img src="{{user.coverphotourl}}", width=250px height=150px style="border: 1px solid black; border-radius: 4px;">
  {{/if}}
 </div> !-->
</div>

<div class="bit-2">
 <br>
 <h2>Post to ShareCookie</h2>
    <br><br>
    <form id="postcookie" action="/sharecookie" method="post">
     <textarea  name="texxtt" id="texxtt" class="textarea" required placeholder="What's going on?"></textarea><br><br>
     <input class="input-gif" name="urlbox" id="urlbox" placeholder="External URL (Optional)"><br><br>


    <input class="input-gif" name="groupbox" id="groupbox" onkeypress="return group(event)" placeholder="Send this post to a group (Optional)"><br><br>
   <h4>Add an Image to your Cookie</h4>
   <input type="file" onchange="upload(this.files[0])">

<script>
    /* Drag'n drop stuff */
    function upload(file) {
        /* Is the file an image? */
        if (!file || !file.type.match(/image.*/)) return;
        /* It is! */
        document.body.className = "uploading";
        /* Lets build a FormData object*/
        var fd = new FormData(); // I wrote about it: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
        fd.append("image", file); // Append the file
        var xhr = new XMLHttpRequest(); // Create the XHR (Cross-Domain XHR FTW!!!) Thank you sooooo much imgur.com
        xhr.open("POST", "https://api.imgur.com/3/image.json"); // Boooom!
        xhr.onload = function() {
            // Big win!
            document.querySelector("#link").href = JSON.parse(xhr.responseText).data.link;
            document.querySelector("#url").value = JSON.parse(xhr.responseText).data.link;
            var linkval=JSON.parse(xhr.responseText).data.link;
            document.body.className = "uploaded";
        }
        
        xhr.setRequestHeader('Authorization', 'Client-ID 9fa1779f17f318a'); // Get your own key http://api.imgur.com/
        
        // Ok, I don't handle the errors. An exercise for the reader.
        /* And now, we send the formdata */
        xhr.send(fd);
    }
</script>
      
    <style>
    #url {display: none}
    #link {display: none}
    .uploaded #link {display: inline}
</style>
<br>
<p id="link">Image Uploaded Succesfully!</p>
<input id="url" name="url">
<br>
<br>
   
    <button name="post" id="post" class="btn " id="login">Make Cookie</button> <!--<span id="counter">200</span>!-->
    
    </form>
 
</div>


 <div class="bit-2">
  <br>
  <h2>Cookies:</h2><br><br>
  
  {{#each posts}}
   
   <div class="cookie posts" style="border:1px solid gray; border-radius:2px; max-width:100%">
    
    <div class="frame">
     
     <div class="bit-a">
      
      
         <!-- title -->
      <!-- <a style="text-decoration: none;" href="/cookie/{{id}}"><h2><font color="{{color}}">{{title}}</font></h2></a> !-->
       
 <div class="bit-50">
  <p><img src="{{avatarurl}}" width=60px height=60px style="border: 1px solid black"></p>
  </div>
  <div class="bit-60">
  <p><b>{{names}}</b> <a href="/user/{{author}}" class="a"><font color=#6666ff>@{{author}}</font></a></p>
  <p{{formatDate created  day="numeric" month="long" year="numeric"}}</p>
  {{#if group}}
  <p><b>Posted to Group:</b> {{group}}</p>
  {{/if}}
         <div class="content">
        <font color="{{color}}" size=5>
        {{{content}}}
        </font>
       
       </div>
                  <div class="actions">
       <br>
       {{#if link}}
       <a style="text-decoration:none;" href="{{link}}">External Site</a><br><br>
       {{/if}}
     {{#if myurl}}
     
     <a href="/cookie/{{id}}"><img src="{{myurl}}" style="border:1px solid black; max-width:100%; max-height:100%;"></a>
     <br><br>
     {{/if}}
       
       {{#if ../user}}
        <!-- like/dislike -->
        <a href="/likepost/{{author}}/{{id}}/home/null" class="btn btn-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <a href="/dislikepost/{{author}}/{{id}}/home/null" class="btn btn-dislike"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
       {{/if}}
        {{likes}} likes
        <!-- comments -->
        <a href="/cookie/{{id}}"><font color=#6666ff>Comments ({{commentamount}})</font></a>
        {{#or ../user.username author ../user.admin true}}
        <br><br>
        <a href="/editcookie/{{author}}/{{id}}" style="text-decoration:none;"><font color=#0066ff>[Edit]</font></a>
        <a href="/deletecookie/{{author}}/{{id}}" style="text-decoration:none;"><font color=#ff0000>[Delete]</font></a>
        {{/or}}
        
       </div>
  </div>
     </div>
     
    </div>
    
   </div>
   <br>
   {{/each}}
</div>

</div>

<script>

function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.innerHTML = maxlimit - field.value.length;
 }
}

</script>