<nav class="navbar">
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/settings">Settings</a>
    <font color="white">|</font>
    <a class="navbar-item" href="/auth/logout">Logout</a>
    {{else}}
    <a class="navbar-item" href="/auth/login">Login</a>
    {{/if}}
  </div>
  <a class="navbar-brand" href="/">ShareCookie</a>
</nav>

<div class="wrapper">
 
<div class="frame body-frame">
 <div class="bit-75">
  <h1>My Profile (@{{account.username}})<font color="red"></font></h1>
 </div>
</div>

 <div class="bit-2">
  <h2>Cookies:</h2><br><br>
  
  {{#each posts}}
   
   <div class="cookie">
    
    <div class="frame">
     
     <div class="bit-75">
         
          <!-- title -->
       <div class="title">
        <h2>
        {{title}}
        </h2>
        <p class="meta-item">{{formatDate created day="numeric" month="long" year="numeric"}}</p>
       </div>
       
       <!-- content -->
       <div class="content">
        <font color="black">
        {{content}}
        </font>
       </div><br>
       
       <!-- likes -->
       <div class="content">
        <font color="black">
        {{likes}} likes
        </font><br><br>
        <a href="/cookie/{{id}}"><font color=#00cc00>View Cookie</font></a>
       </div>
      
     </div>
     <div class="bit-25">
      
      <img src="{{myurl}}" style="border:none;" width=140px height=140px>
      
     </div>
     
    </div>
    
   </div>
   <hr>
   {{/each}}
</div>

  
 <div class="bit-2">
   <h2>Profile Options:</h2>
   
</div>

<script>

function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.innerHTML = maxlimit - field.value.length;
 }
}

</script>