<nav class="navbar">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/auth/logout"><span class="glyphicon glyphicon glyphicon-log-out btn" aria-hidden="true"></a>
    {{else}}
    <a class="navbar-item" href="/auth/login"><span class="glyphicon glyphicon glyphicon-log-in btn" aria-hidden="true"></a>
    {{/if}}
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame" style="border: 0px solid gray; background-color:{{account.themecolor}}; border-radius: 2px">
    <h1>Notifications</h1>
    <h3><a href="/clearnotes">(Clear All)</a></h3><br>
    <!--<input class="input-gif" placeholder="Search for a user by name (Please enter exact, no @)" required><br><br><a href="/searchfollowing" name="searchbox" class="btn">Search</a><br><br><hr><br>!-->
    
{{#each notifications}}
<div class="cookie posts" style="padding:5px; border: 1px solid black; border-radius: 2px">
    {{#ifeq type "comment"}}
  <h2>@{{from}} Commented on your post</h2>
  <p>"{{mini}}..."</p>
  <a class="btn" href="/cookie/{{redirect}}"><h3>View Post</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "like"}}
  <h2>@{{from}} Liked your post</h2>
  <p>"{{mini}}..."</p>
  <a class="btn" href="/cookie/{{redirect}}"><h3>View Post</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "dislike"}}
  <h2>@{{from}} Disliked your post</h2>
  <p>"{{mini}}..."</p>
  <a class="btn" href="/cookie/{{redirect}}"><h3>View Post</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "follower"}}
  <h2>@{{from}} Followed you!</h2>
  <a class="btn" href="/user/{{from}}"><h3>View User</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "postto"}}
  <h2>@{{from}} Posted on your page</h2>
  <p>"{{mini}}..."</p>
  <a class="btn" href="/poststome/{{../../user.username}}"><h3>View</h3></a>
    {{/ifeq}}
    
   {{#ifeq type "welcome"}}
  <h2>Welcome to ShareCookie! We're happy you joined us :)</h2>
    {{/ifeq}}
    
</div>
<br>
{{/each}}

</div>
</div>