<nav class="navbar">
  <div class="wrapper">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/"><span class="glyphicon glyphicon-home btn" aria-hidden="true"></a>
    <a class="navbar-item" href="/auth/logout"><span class="glyphicon glyphicon glyphicon-log-out btn" aria-hidden="true"></a>
    {{else}}
    <a class="navbar-item" href="/auth/login"><span class="glyphicon glyphicon glyphicon-log-in btn" aria-hidden="true"></a>
    {{/if}}
  </div>
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame" style="border: 0px solid gray; background-color:{{account.themecolor}}; border-radius: 2px">
    <h1>Notifications</h1>
    <h3><a href="/clearnotes">(Clear All)</a></h3><br>
    <!--<input class="input-gif" placeholder="Search for a user by name (Please enter exact, no @)" required><br><br><a href="/searchfollowing" name="searchbox" class="btn">Search</a><br><br><hr><br>!-->
    
{{#each notifications}}
<div class="cookie posts" style="padding:5px; border: 1px solid black; border-radius: 2px">
    {{#ifeq type "comment"}}
  <h2><a href="/user/{{from}}" style="text-decoration:none; color:#6666ff">@{{from}}</a> Commented on your post</h2>
  <p>{{{mini}}}</p>
  <a class="btn" href="/cookie/{{redirect}}"><h3>View Post</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "like"}}
  <h2><a href="/user/{{from}}" style="text-decoration:none; color:#6666ff">@{{from}}</a> Liked your post</h2>
  <p>{{{mini}}}</p>
  <a class="btn" href="/cookie/{{redirect}}"><h3>View Post</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "dislike"}}
  <h2><a href="/user/{{from}}" style="text-decoration:none; color:#6666ff">@{{from}}</a> Disliked your post</h2>
  <p>{{{mini}}}</p>
  <a class="btn" href="/cookie/{{redirect}}"><h3>View Post</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "follower"}}
  <h2><a href="/user/{{from}}" style="text-decoration:none; color:#6666ff">@{{from}}</a> Followed you!</h2>
  <a class="btn" href="/user/{{from}}"><h3>View User</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "postto"}}
  <h2><a href="/user/{{from}}" style="text-decoration:none; color:#6666ff">@{{from}}</a> Posted on your page</h2>
  <p>{{{mini}}}</p>
  <a class="btn" href="/poststome/{{../../user.username}}"><h3>View</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "mention"}}
  <h2><a href="/user/{{from}}" style="text-decoration:none; color:#6666ff">@{{from}}</a> Mentioned you in a post</h2>
  <p>{{{mini}}}</p>
  <a class="btn" href="{{redirect}}"><h3>View Post</h3></a>
    {{/ifeq}}
    
        {{#ifeq type "commention"}}
  <h2><a href="/user/{{from}}" style="text-decoration:none; color:#6666ff">@{{from}}</a> Mentioned you in a comment</h2>
  <p>{{{mini}}}</p>
  <a class="btn" href="{{redirect}}"><h3>View Comment</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "verify"}}
  <h2><font color="LimeGreen">Your ShareCookie account has received verified status! Congrats!</font></h2>
  <br><font color="#FF0000"><h3>Please Note, if your account has any abusive content reported on it, your verified status may be taken away without question.</h3></font><br>
  <a class="btn" href="{{redirect}}"><h3>View Your Profile</h3></a>
    {{/ifeq}}
    
    {{#ifeq type "unverify"}}
  <h2><font color="LimeGreen">Your ShareCookie account has lost it's verified status.</font></h2>
  <br><font color="#FF0000"><h3>We are sorry to say you are no longer verified on ShareCookie. This may be due to any of the following reasons: Your account has been reported for spam, you have posted or sent abusive messages, or your account has been inactive for more than 1 year.</h3></font><br>
    {{/ifeq}}
    
        {{#ifeq type "mentionedit"}}
  <h2><a href="/user/{{from}}" style="text-decoration:none; color:#6666ff">@{{from}}</a> Mentioned you in an edited post</h2>
  <p>{{{mini}}}</p>
  <a class="btn" href="{{redirect}}"><h3>View Post</h3></a>
    {{/ifeq}}
    
   {{#ifeq type "welcome"}}
  <h2><font color="LimeGreen"><i>Welcome to ShareCookie! We are so happy you have joined our amazing community, and we hope that you have fun! <u>Read below to get started!</u></i></font></h2>
  <br><font color="#6666ff"><h2><u>Navigation</u></h2></font><br>
  <h3><font color="Black"><b>-To discover posts and find new people to follow, click the house (<span class="glyphicon glyphicon-home" aria-hidden="true"></span>) at the top right, and then click the globe icon (<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>). That will take you to the Public timeline, and you can see posts from all over the world here.</b></font></h3><br>
  <h3><font color="Black"><b>-The house icon (<span class="glyphicon glyphicon-home" aria-hidden="true"></span>) is your private timeline, where posts from people you follow appear.</b></font></h3><br>
  <h3><font color="Black"><b>-To see your notifications, click the bell icon (<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>). You may clear your notifications at any time. To view and edit your profile, press the person icon (<span class="glyphicon glyphicon-user" aria-hidden="true"></span>), and to log out, press the arrow icon (<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>).</b></font></h3><br>
  <h3><font color="Black"><b>-To follow a user, click their @ name next to their post, and click "Follow" on their profile!</b></font></h3>
    <br><font color="#6666ff"><h2><u>Using ShareCookie</u></h2></font><br>
    <h3><font color="Black"><b>-To post to ShareCookie, make sure you are either on the main page, or on your profile.</b></font></h3><br>
    <h3><font color="Black"><b>-Add your post content to the "What's going on?" box. HTML and Markdown IS supported :)</b></font></h3><br>
    <h3><font color="Black"><b>-If you would like to add a link to an external site, put that URL in the "External URL" box.</b></font></h3><br>
    <h3><font color="Black"><b>-If you would like to send your post to a group page, where you can see all the posts in the same group, put a short phrase in that box, such as "programming". Groups help you find people with the same interests!</b></font></h3><br>
    <h3><font color="Black"><b>-If you would like to upload an image to your post, click the button to select an image file. (Animated GIFs ARE supported). <u>Please wait for the "Image Uploaded" message to appear before you make your post!!</u></b></font></h3><br>
    <h3><font color="Black"><b>-Click "Make Cookie" and that's it! You've posted! Your post now appears on all of your followers' timelines.</b></font></h3><br>
    <br><font color="#6666ff"><h2><u>Profile Settings (Last one!!)</u></h2></font><br>
    <h3><font color="Black"><b>-First, go to your profile, and click the gear icon (<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>).</b></font></h3><br>
    <h3><font color="Black"><b>-In profile settings, you may change your Display Name, Username, Profile Theme Colour, Profile Picture, and Bio.</b></font></h3><br>
    <h3><font color="Black"><b>-All of these settings are pretty self explanatory. To change your colour, click the box with the number in it, and an extensive colour picker will appear!</b></font></h3><br>
    <h3><font color="Black"><b>-Note, when changing your profile picture, it is highly recommended your image is a square. You MAY use animated GIFs :). Lastly, after selecting an image, please wait for the "Image Uploaded" to appear, and then click "Update Profile Picture"</b></font></h3><br>
    {{/ifeq}}
    
</div>
<br>
{{/each}}

</div>
</div>