<nav class="navbar">
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/user/{{result.author}}">More from @{{result.author}}</a>
    <font color="white">|</font>
    <a class="navbar-item" href="/auth/logout">Logout</a>
    {{else}}
    <a class="navbar-item" href="/auth/login">Login</a>
    {{/if}}
  </div>
  <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
</nav>

<div class="wrapper">
 
<div class="frame body-frame">
 <div class="bit-2 posts" style="border: 1px solid gray; border-radius: 6px">
  <p><b>Author: {{result.names}}</b> <a href="/user/{{result.author}}" class="a"><font color=#6666ff>@{{result.author}}</font></a></p>
  <p><b>Likes:</b> {{result.likes}}</p>
  <p><b>Date Created:</b> {{formatDate result.created  day="numeric" month="long" year="numeric"}}</p>
  <br>
  <p class="cookie-content">{{result.content}}</p>
   <br>
   {{#if user}}
        <!-- like/dislike -->
        <a href="/likepost/{{result.author}}/{{result.id}}/cookie/null" class="btn btn-like">Like </a> <a href="/dislikepost/{{result.author}}/{{result.id}}/cookie/null" class="btn btn-dislike">Dislike </a>
  {{/if}}
  <div><br><a href="https://www.facebook.com/dialog/share?app_id=1549077778743128&amp;display=popup&amp;href=sharecookie.com%2Fcookie%2F{{result.id}}" class="fbbtn">Share on Facebook</a></div>
 </div>
 <div class="bit-2">
  {{#if result.myurl}}
  <img src="{{result.myurl}}" style="border:00px solid white width: auto; height: 250px;">
  {{/if}}
  <!--<p class="cookie-caption">image via: {{result.myurl}}</p>!-->
 </div>
</div>
<br><br><br>
<div class="frame posts" style="border: 1px solid gray; border-radius: 6px">
 <div class="bit-2">
  {{#if user}}
  <h2>Post new comment</h2>
  
  <form id="test" action="/sendcomment/{{result.id}}" method="post">
   
   <textarea onkeyup="textCounter(this,'counter',200);" name="commentbox" id="commentbox" class="textarea" placeholder="Write something nice!" required></textarea>
   <button class="btn">Comment!</button> <span id="counter">100</span>
   
   </form>
   {{else}}
   <h2>Please Log in to comment!</h2>
   {{/if}}
 </div>

 <div class="bit-2">
  <h2>Comments ({{result.commentamount}}):</h2><br>
  {{#each result.commentslist}}
 
    <div class="frame">
       
       <div class="meta">

        <p class="meta-item"><a class="a" href="/user/{{user}}"><font color=#6666ff>@{{user}}</font></a> <font color="gray">at {{formatDate created  day="numeric" month="long" year="numeric"}}</font></p>
        <p class="meta-item"><font color=#02313A>{{value}}</font></p>
        <br>
        {{/each}}
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>


<script>

function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.innerHTML = maxlimit - field.value.length;
 }
}

</script>