<nav class="navbar">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/settings"><span class="glyphicon glyphicon glyphicon-cog btn" aria-hidden="true"></a>
    <font color="white">|</font>
    <a class="navbar-item" href="/auth/logout"><span class="glyphicon glyphicon glyphicon-log-out btn" aria-hidden="true"></a>
    {{else}}
    <a class="navbar-item" href="/auth/login"><span class="glyphicon glyphicon glyphicon-log-in btn" aria-hidden="true"></a>
    {{/if}}
  </div>
</nav>

<div class="wrapper">
 
 <div class="frame body-frame" >
  <div class="bit-2" >
    
   {{#each posts}}
   <div class="cookie posts" style="border-top:1px solid gray; border-radius:2px">
    
    <div class="frame">
     
     <div class="bit-75">
      
         <!-- title -->
       <h2><font color="{{color}}">{{keys}}</font></h2>
       
       <div class="meta">
        
        <!-- author -->
        <p class="meta-item"><a href="/user/{{author}}" class="a"><font color=#6666ff>@{{author}}</font></p></a>
        <p class="meta-item">{{formatDate created day="numeric" month="long" year="numeric"}}</p>
       </div>
       <!-- content -->
       <div class="content">
        <font color="{{color}}">
        {{{content}}}
        </font>
        <a href="/deletepostto/{{author}}/{{id}}" style="text-decoration:none;"><p class="meta-item"><font color=#ff0000>[Delete]</font></p></a>
       </div>
     
    </div>
    
   </div>
   {{/each}}
   
  </div>
 </div>
 </div>
 </div>