</div>
  <nav class="navbar navbar-default navbar-fixed-top">
  <a href="/"><font size=6 class="test affix" color="white"><b>ShareCookie</b></font></a><!-- <span class="btn16"><b>Sort By:</b></span> <a class="btn7 " href="/type/2">Most Recent</a><a class="btn7 " href="/type/1">Most Likes</a>!-->
</nav>
</div>

{{#each result}}
<form id="test" action="/sendcomment/{{id}}" method="post">
<h1>{{title}}</h1>
<p><b>Author:</b> @{{author}}</p>
<p><b>Likes:</b> {{likes}}</p>
<p><b>Date Created:</b> {{created}}</p>
<p><b>Post ID:</b> {{id}}</p>
<font size=4><p>{{content}}</p></font>
<img src="{{myurl}}" style="border:00px solid white" width=150px height=150px><br>
<p><font color="gray">image via: {{myurl}}</font></p>
<font>_____________________________________________________________________________________________________________________</font>
<h2>Comments ({{commentamount}}):</h2>
<textarea onkeyup="textCounter(this,'counter',200);" name="commentbox" id="commentbox" class="textarea" placeholder="Write something nice!" required></textarea>
<br><input disabled maxlength="3" size="3" value="100" id="counter">
<button class="btn15">Comment!</button>

{{#each commentslist}}
  <br><font size=2>_____________________________________</font>
  <h2><font color="black"><b>@{{user}}:</b></font></h2>
  <h3>{{value}}</3><br>
  
{{/each}}

</form>
{{/each}}


<script>

function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.value = maxlimit - field.value.length;
 }
}

</script>