<nav class="navbar">
 <div class="wrapper">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
   <a class="navbar-item" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left btn" aria-hidden="true"></a>
    {{#if user}}
    <font color="white">|</font>
    <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/"><span class="glyphicon glyphicon-home btn" aria-hidden="true"></a>
    {{/if}}
  </div>
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame">
 <div class="bit-2 posts" style="border: 1px solid gray; border-radius: 2px">
  <div class="bit-50">
  <p><img src="{{person.avatarurl}}" width=60px height=60px style="border: 1px solid black"></p>
  </div>
  <div class="bit-50">
  <p><b>Author: </b><b>{{{result.names}}}</b><br> <a href="/user/{{result.author}}" class="a"><font color=#6666ff>@{{result.author}}</font></a></p>
  <p><b>Date Created:</b> {{formatDate result.created  day="numeric" month="long" year="numeric"}}</p>
  {{#if result.group}}
  <!---<p><b>Posted to Group:</b> <a href="/group/{{result.group}}" style="text-decoration:none">{{result.group}}</a></p>!-->
  {{/if}}
  </div>
  <br><br><br><br>
  <div class="bit-50">
  <p class="cookie-content"><font size=4>{{{result.content}}}</font></p>
   <br>

  {{#if result.myurl}}
  <img src="{{result.myurl}}" style="max-width:100%; max-height:100%;">
  <br>
  {{/if}}
  <!--<p class="cookie-caption">image via: {{result.myurl}}</p>!-->
 
   {{#if result.link}}
       <a style="text-decoration:none;" href="{{result.link}}">{{result.link}}</a><br><br>
       {{/if}}
   {{#if user}}
        <!-- like/dislike -->
        <a href="/likepost/{{result.author}}/{{result.id}}/cookie/null" class="btn btn-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <a href="/dislikepost/{{result.author}}/{{result.id}}/cookie/null" class="btn btn-dislike"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
        {{#ifneq result.author ../user.username}}<a data-toggle="tooltip" title="Rebake" href="/rebake/{{result.author}}/{{result.id}}/home/null" class="btn btn-dislike"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></a>{{/ifneq}}
  {{/if}}
  <br> <br> {{result.likes}} likes | {{result.dislikes}} dislikes | {{result.rebakes}} rebakes
  <div><br><a href="https://www.facebook.com/dialog/share?app_id=1549077778743128&amp;display=popup&amp;href=https://sharecookie.com%2Fcookie%2F{{result.id}}" class="fbbtn">Share on Facebook</a></div>
 </div>
</div>

<div class="frame posts" style="border: 0px solid gray; border-radius: 2px">
 <div class="bit-2">
  {{#if user}}
  <h2>Post new comment</h2>
  
  <form id="test" action="/sendcomment/{{result.id}}" method="post">
   
   <textarea onkeyup="textCounter(this,'counter',200);" name="commentbox" id="commentbox" class="textarea" placeholder="Write something nice!" required></textarea>
   <button class="btn">Comment!</button> <span id="counter">200</span>
   
   </form>
   {{else}}
   <h2>Please Log in to comment!</h2>
   {{/if}}
 </div>

 <div class="bit-2">
  <h2>Comments ({{result.commentamount}}):</h2><br>
  {{#each result.commentslist}}
 
    <div class="frame">
       
       <div class="meta">

        <p class="meta-item"><a class="a" href="/user/{{user}}"><font color=#6666ff>@{{user}}</font></a> <font color="gray">at {{formatDate created  day="numeric" month="long" year="numeric"}}</font></p>
        <p class="meta-item"><font color=#000>{{{value}}}</font></p>
        <!--{{#ifeq ../user.username user}}
        <a href="/deletecomment/{{user}}/{{../../result.commentslist.id}}" style="text-decoration:none;"><p class="meta-item"><font color=#ff0000>[Delete]</font></p></a>
        {{/ifeq}}
        {{#ifeq ../user.username ../result/author}}
        <a href="/deletecomment/{{user}}/{{../../result.commentslist.id}}" style="text-decoration:none;"><p class="meta-item"><font color=#ff0000>[Delete]</font></p></a>
        {{/ifeq}}!-->
        <br>
        {{/each}}
       </div>
      </div>
     </div>
    </div>
   </div>
   </div>
  </div>
 </div>


<script>

function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.innerHTML = maxlimit - field.value.length;
 }
}

</script>