<nav class="navbar">
 <div class="wrapper">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
   <a class="navbar-item" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left btn" aria-hidden="true"></a>
   <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/"><span class="glyphicon glyphicon-home btn" aria-hidden="true"></a>
   <a class="navbar-item" href="/user/{{user.username}}"><span class="glyphicon glyphicon-user btn" aria-hidden="true"></a>
  </div>
  </div>
</nav>
{{#if user}}
<div class="wrapper">

<div class="frame body-frame" style="border: 1px solid gray; background-color:{{user.themecolor}}; border-radius: 4px">
 <div class="bit-20">
  <img src="{{user.avatarurl}}" width=150 height=150 style="border:1px solid black; border-radius: 4px">
 </div>
  <div class="bit-30" style="background-color: rgba(255, 255, 255, 0.5); border:1px solid black; border-radius: 4px;">
  <p><font size=6>{{user.name}}</font></p>
  <p>@{{user.username}} {{#if user.admin}}<font color=#0000ff>(Admin)</font>{{/if}} {{#ifeq user.status "verified"}}<img src="http://www.irunoninsulin.com/wp-content/uploads/2010/06/green-check-mark.jpg" width=15px height=15px>{{/ifeq}}</p><br>
  <p><b>Bio: </b>{{user.bio}}</p>
 </div>
 
  <!--<div class="bit-20">
  {{#if user.coverphotourl}}
  <img src="{{user.coverphotourl}}", width=250px height=150px style="border: 1px solid black; border-radius: 4px;">
  {{/if}}
 </div> !-->
</div>


  <div class="frame">
   <br>
   <form id="name" action="/update/displayName/{{user.id}}" method="post">
   <h3>Update Your Display Name</h3>
   <input type="text" name="displayName" id="displayName" value="{{user.name}}" class="input-gif">
   <br><br>
   <button type="submit" id="displayNameButton" class="btn">Update Name</button>
   <br><br>
   <hr>
   <br><br>
   </form>
   
   <form id="name" action="/update/username/{{user.id}}" method="post">
   <h3>Update Your Username</h3>
   <input type="text" name="displayName" id="displayName" onkeypress="return alpha(event)" value="{{user.username}}" class="input-gif">
   <br><br>
   <button type="submit" id="displayNameButton" class="btn">Update Username</button>
   <br><br>
   <hr>
   <br><br>
   </form>
   
   <form id="name" action="/update/colour/{{user.id}}" method="post">
    <h3>Update Your Profile Theme Colour</h3>
    <script src="/javascripts/jscolor.js"></script>

  <input type="text" name="colour" class="jscolor input-gif" value="{{user.themecolor}}">
   <br><br>
   <button type="submit" id="displayColourButton" class="btn">Update Colour</button>
   <br><br>
   <hr>
   <br><br>
   </form>
   
  </div>
  <div class="frame">
   <div class="bit-2">
    <h3>Update Your Profile Picture (Square Images Work Best)</h3>
    <br>
    <form id="submitpic" action="/updatepp/{{user.id}}" method="post">
     
        
   <input type="file" onchange="upload(this.files[0])">

<script>
    /* Drag'n drop stuff */
    function upload(file) {
        /* Is the file an image? */
        if (!file || !file.type.match(/image.*/)) return;
        /* It is! */
        document.body.className = "uploading";
        /* Lets build a FormData object*/
        var fd = new FormData(); // I wrote about it: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
        fd.append("image", file); // Append the file
        var xhr = new XMLHttpRequest(); // Create the XHR (Cross-Domain XHR FTW!!!) Thank you sooooo much imgur.com
        xhr.open("POST", "https://api.imgur.com/3/image.json"); // Boooom!
        xhr.onload = function() {
            // Big win!
            document.querySelector("#link").href = JSON.parse(xhr.responseText).data.link;
            document.querySelector("#url").value = JSON.parse(xhr.responseText).data.link;
            var linkval=JSON.parse(xhr.responseText).data.link;
            document.body.className = "uploaded";
        }
        
        xhr.setRequestHeader('Authorization', 'Client-ID 9fa1779f17f318a'); // Get your own key http://api.imgur.com/
        
        // Ok, I don't handle the errors. An exercise for the reader.
        /* And now, we send the formdata */
        xhr.send(fd);
    }
</script>

    <style>
    #url {display: none}
    #link {display: none}
    #link1 {display:none}
    .uploaded #link {display: inline}
    #update {display: none}
    .uploaded #update {display: inline}
    .uploading #link1 {display: inline}
</style>
<br><br>
<p id="link">Image Uploaded Succesfully!</p>
<p id="link1">Uploading...</p>
     
     <input id="url" name="url">
     <br><br>
     <button id="update" name="update" class="btn" type="submit">Update Profile Picture</button>
    </form>
<br>
    <hr><br>
   
   <form id="name" action="/update/bio/{{user.id}}" method="post">
    <h3>Update Your Profile Bio</h3>
   <textarea type="text" name="bio" placeholder="Place Bio Here" onkeyup="textCounter(this,'counter',100);" class="input-gif"></textarea>
   <span id="counter">100</span>
   <br><br>
   <button type="submit" id="displayColourButton" class="btn">Update Bio</button>
   <br><br>
   <hr>
   <br><br>
   </form>
   
   <form id="name" action="/lockme/{{user.id}}" method="get">
    {{#if user.locked}}
    <h2><font color="Black">Make your account Public</font></h2>
    {{else}}
    <h2><font color="Black">Make your account Private</font></h2>
    {{/if}}
    <br>
    
    {{#if user.locked}}
    <h3><font color="Black"><i>If you make your account public, anyone can find and follow you, and view all of your cookies.</i></font></h3>
    {{else}}
    <h3><font color="Black"><i>If you make your account private, people will need your permission to follow you, and view your cookies. Take note, if someone who follows you Rebakes a cookie of yours, other people will see its content.</i></font></h3>
    {{/if}}
    
    <br>
    {{#if user.locked}}
   <button type="submit" id="displayColourButton" class="btn">Make Account Public</button>
   {{else}}
    <button type="submit" id="displayColourButton" class="btn">Make Account Private</button>
    {{/if}}
   <br><br>
   <hr>
   <br><br>
   </form>
   
      <form id="name" action="/deleteme/{{user.id}}" method="get">
    <h2><font color="Red">Delete Your Account (CANNOT BE UNDONE)</font></h2>
    <br>
   <button type="submit" id="displayColourButton" class="btn">Delete Account Now</button>
   <br><br>
   <br><br>
   </form>


</div>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
 $("#ppPreview").click(function() {
  $('#previewImage').html('<img src=' + $('#ppbox').val() + ' style="width:30%;height:auto;">');
 });
 
//  $("#cpPreview").click(function() {
//  $('#previewImage1').html('<img src=' + $('#ppbox1').val() + ' style="width:30%;height:auto;">');
// });
</script>
<script>
function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.innerHTML = maxlimit - field.value.length;
 }
}
</script>
<script>
    function alpha(e) {
    var k;
    document.all ? k = e.keyCode : k = e.which;
    return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));
}
</script>
{{else}}
{{/if}}