<nav class="navbar">
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/settings">Settings</a>
    <font color="white">|</font>
    <a class="navbar-item" href="/auth/logout">Logout</a>
    {{else}}
    <a class="navbar-item" href="/auth/login">Login</a>
    {{/if}}
  </div>
  <a class="navbar-brand" href="/">ShareCookie</a>
</nav>

<div class="wrapper">
 
<div class="frame body-frame">
 <div class="bit-75">
  <h1>Viewing User @{{account.username}}'s Profile<font color="red"></font></h1>
 </div>
</div>

 <div class="bit-2">
  <h2>Cookies:</h2><br><br>
  
  {{#each posts}}
   
   <div class="cookie" style="border:1px solid gray; border-radius:2px">
    
    <div class="frame">
     
     <div class="bit-75">
         
          <!-- title -->
       <div class="title">
        <h2>
        {{title}}
        </h2>
        <p class="meta-item">{{formatDate created day="numeric" month="long" year="numeric"}}</p>
       </div>
       <br>
       <!-- content -->
       <div class="content">
        <font color="black" size=4>
        {{content}}
        </font>
       </div><br>
       
       <!-- likes -->
       <div class="content">
        <font color="black">
        {{likes}} likes
        </font><br><br>
        <a href="/cookie/{{id}}"><font color=#6600ff>View Cookie</font></a>
       </div>
      
     </div>
     <div class="bit-25">
      {{#if myurl}}
      <img src="{{myurl}}" style="border:none;" width=140px height=140px>
      {{/if}}
     </div>
     
    </div>
    
   </div>
   <br>
   {{/each}}
</div>

  
 <div class="bit-2">
   <h2>Post on this page:</h2><br><br>
   <!-- cookies -->
   
   <div class="form-rel">
    <!-- forms -->
    <form id="sendtouser" action="/sendtouser/{{account.id}}" method="post">
     <textarea onkeyup="textCounter(this,'counter',200);" name="msgbox" id="msgbox" class="textarea fixed" required placeholder="Enter your message to @{{account.username}} here! (Max 200 characters)"></textarea>
     <button class="btn " id="post">Post to @{{account.username}}</button> <span id="counter">100</span>
    </form>
    </div>
    
   {{#each posts1}}
   <br>
   <div class="cookie" style="border:1px solid gray; border-radius:2px">
    
    <div class="frame">
     
     <div class="bit-75">
      
         <!-- title -->
       <h2><font color="{{color}}">{{keys}}</font></h2>
       
       <div class="meta">
        
        <!-- author -->
        <p class="meta-item"><a href="/user/{{author}}" class="a"><font color=#6600ff>@{{author}}</font></p></a>
        <p class="meta-item">{{formatDate created day="numeric" month="long" year="numeric"}}</p>
       </div>
       <!-- content -->
       <div class="content">
        <font color="{{color}}">
        {{content}}
        </font>
       </div>
     
    </div>
    
   </div>
   {{/each}}
   
  </div>
 </div>
</div>

<script>

function textCounter(field,field2,maxlimit)
{
 var countfield = document.getElementById(field2);
 if ( field.value.length > maxlimit ) {
  field.value = field.value.substring( 0, maxlimit );
  return false;
 } else {
  countfield.innerHTML = maxlimit - field.value.length;
 }
}

</script>