<nav class="navbar">
    <div class="wrapper">
    <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
    <div class="navbar-right">
    <p class="navbar-item">Super Seeeecret Admin Console ;)</p>
    </div>
    </div>
</nav>

<div class="wrapper">
    
    <div class="frame body-frame">
        
        <div class="bit-25">
            <h2>Users ({{usercount}})</h2>
            <a href="/admin/users/raw"><font color=#6666ff>Show all users as "raw"</font></a>
            
            <div class="list-users">
                <br>
                {{#each users}}
                <h3>@{{username}}</h3>
                <p><b>Admin</b>: {{#if admin}}true{{else}}false{{/if}}</p>
                <div class="list-actions">
                    <a class="list-action btn" href="/admin/user/delete/{{id}}">Delete</a>
                    <a class="list-action btn" href="/admin/user/raw/{{id}}">Raw</a>
                    <a class="list-action btn" href="/admin/user/edit/{{id}}">Edit</a>
                    {{#if admin}}
                    <a class="list-action btn" href="/admin/remove/admin/{{id}}">REVOKE Admin</a>
                    {{else}}
                    <a class="list-action btn" href="/admin/add/admin/{{id}}">MAKE Admin</a>
                    {{/if}}
                </div><br>
                {{/each}}
            </div>
        </div>
        
        <div class="bit-75">
            <h2>Posts ({{postcount}})</h2>
            <a href="/admin/posts/raw"><font color=#6666ff>Show all posts as "raw"</font></a>
            
            <div class="list-posts">
                <br>
                {{#each posts}}
                <h3>{{title}}</h3>
                <div class="list-meta">
                    <p><b>Date</b> <span class="list-meta-item">{{formatDate created}}</span></p>
                    <p><b>Author</b> <span class="list-meta-item">{{author}} ({{_author}})</span></p>
                    <p><b>Likes</b> <span class="list-meta-item">{{likes}}</span></p>
                    <p><b>ID</b> <span class="list-meta-item">{{id}}</span></p>
                    {{#if group}}<p><b>Group</b> <span class="list-meta-item">{{group}}</span></p>{{/if}}
                </div>
                <p>{{content}}</p>
                <div class="list-actions">
                    <a class="list-action btn" href="/admin/post/delete/{{id}}">Delete</a>
                    <a class="list-action btn" href="/admin/post/raw/{{id}}">Raw Post</a>
                </div><br>
                {{/each}}
            </div>
        </div>
        
    </div>
    
</div>